<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoWP4j9dv0XYPe_TPb89uv16HfUWZvSAI</string>
	<key>GCM_SENDER_ID</key>
	<string>964866872592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dManAdmin</string>
	<key>PROJECT_ID</key>
	<string>dmans-bb7c8</string>
	<key>STORAGE_BUCKET</key>
	<string>dmans-bb7c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964866872592:ios:0af8dad914a5f439670195</string>
</dict>
</plist>